# HEAD
*.class

# Java
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# idea
*.iml
.idea/

# eclipse
*.project
*.classpath
.settings/
*/target/
*/logs/
/bin/
*.ipr
*.iws
*.pyc
*/*.pyc
.externalToolBuilders/
